@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(108, 138, 138);
    font-family: 'Nunito', sans-serif;
}

.lobster {
    font-family: 'Lobster', cursive;
    font-size: 2em;
}
.container{
    background-color:rgb(31, 67, 73);
    
}
.container h1{ 
 
    color: rgb(255, 255, 255) !important;
    
}
.accordion-button {
    background-color:rgb(0, 118, 136) ;
   
}
.accordion-button:not(.collapsed) {
    background-color:rgb(44, 93, 116) ;
   
}
